In [13]:
import pandas as pd
df={
    'Gender':['male','female','male','female','male','female'],
    'Name':['Nihar','Bahvani','Vicky','Indhu','Venky','Sneha']
}
df=pd.DataFrame(data=df,index=[1,2,3,4,5,6])
print(df)
print(df.agg(['sum','min']))
print(df.groupby('Gender'))

   Gender     Name
1    male    Nihar
2  female  Bahvani
3    male    Vicky
4  female    Indhu
5    male    Venky
6  female    Sneha
                             Gender                              Name
sum  malefemalemalefemalemalefemale  NiharBahvaniVickyIndhuVenkySneha
min                          female                           Bahvani
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000192FF352A50>

In [7]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
House_Predection={
    'SizeOfHouse':['20*20','20*30','30*40','40*20','40*50','50*20','50*30','60*30','60*20','60*60'],
    'Price':['2000000','340500','100000','400500','40000050','50005000','5003009','600500','6029390','601905000'],
    'Gender':['male','male','female','male','female','female','female','male','male','female'],
    'SizeOfHouse':['Computer Software Engineers','Chemical Engineer','Newspaper Editor','Medical Secretary','Math Professor','Radio & TV Sports Announcer','Real Estate Sales Agents','Fashion Designer','Food & Drug Inspector','Industrial Designer'],
    'Age':['24','25','30','40','45','52','43','38','27','54'],
    'TypesOfHouses':['Cave Homes','Hotel','Tree Houses','Floating Cabins','Apartment','Farmhouse','Cave Homes','Hotel','Hotel','Tree Houses'],
    'NoOfRoomsInHouse':['1','70','1','3','50','1','80','80','1','2']
}
House_Predection=pd.DataFrame(data=House_Predection,index=[1,2,3,4,5,6,7,8,9,10]
print(House_Predection)

                    SizeOfHouse      Price  Gender Age    TypesOfHouses  \
1   Computer Software Engineers    2000000    male  24       Cave Homes
2             Chemical Engineer     340500    male  25            Hotel
3              Newspaper Editor     100000  female  30      Tree Houses
4             Medical Secretary     400500    male  40  Floating Cabins
5                Math Professor   40000050  female  45        Apartment
6   Radio & TV Sports Announcer   50005000  female  52        Farmhouse
7      Real Estate Sales Agents    5003009  female  43       Cave Homes
8              Fashion Designer     600500    male  38            Hotel
9         Food & Drug Inspector    6029390    male  27            Hotel
10          Industrial Designer  601905000  female  54      Tree Houses

   NoOfRoomsInHouse
1                 1
2                70
3                 1
4                 3
5                50
6                 1
7                80
8                80
9                 1
10                2

In [17]:
import pandas as pd 
from functools import reduce
House_Predection1=pd.DataFrame({
    'SizeOfHouse':['20*20','20*30','30*40','40*20','40*50','50*20','50*30','60*30','60*20','60*60'],
    'Price':[ 2000000,340500,100000,400500,40000050,50005000,5003009,600500,6029390,601905000],
    'Gender':['male','male','female','male','female','female','female','male','male','female'],
    'GenderInNumber':[0,0,1,0,1,1,1,0,0,1],
    'Occupation':['Computer Software Engineers','Chemical Engineer','Newspaper Editor','Medical Secretary','Math Professor','Radio & TV Sports Announcer','Real Estate Sales Agents','Fashion Designer','Food & Drug Inspector','Industrial Designer'],
    'Age':['24','25','30','40','45','52','43','38','27','54'],
    'TypesOfHouses':['Apartment','Farmhouse','Farmhouse','Farmhouse','Apartment','Farmhouse','Apartment','Apartment','Apartment','Farmhouse',],
    'NoOfRoomsInHouse':['1','70','1','3','50','1','80','80','1','2']
},index=[1,2,3,4,5,6,7,8,9,10])
print(House_Predection1)
print("mapping")
def greatest_than(n):
    return n>340500
print(House_Predection1['TypesOfHouses'].map({'Apartment':'0','Farmhouse':'1'}))
#filtering=list(filter(lambda x:greater_than(x),dfs['Price']))
#print(filtering)

   SizeOfHouse      Price  Gender  GenderInNumber  \
1        20*20    2000000    male               0
2        20*30     340500    male               0
3        30*40     100000  female               1
4        40*20     400500    male               0
5        40*50   40000050  female               1
6        50*20   50005000  female               1
7        50*30    5003009  female               1
8        60*30     600500    male               0
9        60*20    6029390    male               0
10       60*60  601905000  female               1

                     Occupation Age TypesOfHouses NoOfRoomsInHouse
1   Computer Software Engineers  24     Apartment                1
2             Chemical Engineer  25     Farmhouse               70
3              Newspaper Editor  30     Farmhouse                1
4             Medical Secretary  40     Farmhouse                3
5                Math Professor  45     Apartment               50
6   Radio & TV Sports Announcer  52     Farmhouse                1
7      Real Estate Sales Agents  43     Apartment               80
8              Fashion Designer  38     Apartment               80
9         Food & Drug Inspector  27     Apartment                1
10          Industrial Designer  54     Farmhouse                2
mapping
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     0
9     0
10    1
Name: TypesOfHouses, dtype: object